*{
    margin:0;
    padding:0;

}
body{
    background-color: #718D81;
    text-align: center;
}
.container{
    height:70vh;
    margin-left: 550px;
    margin-right: 550px;
    margin-top: 50px;
    
}
.game{
    height:60vmin;
    width:60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    
}
.box{
    height:18vmin;
    width:18vmin;
    border-radius: 1rem;
    background-color: aliceblue;
    
    font-size: 8vmin;
    color: chocolate;
    
}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color:white;
    border-radius:1rem ;
    margin:0%
}
#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color:white;
    border-radius:1rem ;
    margin:0%
}
#msg{
    color:aliceblue;
    font-size: 7vmin;
}
.msg-container{
   height: 100vmin;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap:4rem;
}
.hide{
    display: none;
}
@media screen and (max-width: 768px) {
    .container {
        margin-left: 5%;
        margin-right: 5%;
    }

    .box {
        height: 18vmin;
        width: 18vmin;
        font-size: 6vmin;
    }

    #msg {
        font-size: 5vmin;
    }
}

/* Media query for even smaller screens */
@media screen and (max-width: 480px) {
    .container {
        margin-left: 2%;
        margin-right: 2%;
    }

    .box {
        height: 15vmin;
        width: 15vmin;
        font-size: 4vmin;
    }

    #msg {
        font-size: 4vmin;
    }
}

